{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": "airbnb",
	"rules": {
		"no-tabs": 0,
		"indent": ["error", "tab"],
		"comma-dangle": ["error", {
			"arrays": "always-multiline",
			"objects": "always-multiline",
			"imports": "always-multiline",
			"exports": "always-multiline",
			"functions": "always-multiline"
		}],
		"space-before-function-paren": ["error", {
			"anonymous": "always",
			"named": "never",
			"asyncArrow": "always"
		}],
		"arrow-parens": ["error", "as-needed"],
		"react/jsx-one-expression-per-line": ["error", { "allow": "single-child" }],
		"strict": 0,
		"react/jsx-indent": [4, "tab"]
	}
}
